<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mt-5">
        <strong><h1 class="card-header text-center">{{title}}</h1></strong>
        <img class="card-img-top" src="{{detalles.imagen}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ detalles.Titulo }}</h5>
          <p class="card-text">{{ detalles.Descripcion }}.  </p>
          <div class="row text-right">
            <div class="col-sm">
            <h2><span class="text-success">Precio de venta: </span> ${{ detalles.precio}}</h2> 
            </div>
          </div>
          <a href="{{ detalles.url}}" target="_blank" class="btn btn-success">Comprar</a>
        </div>
      </div>
    </div>
  </div>
</div>

 