<div class="container mt-5" >
  <div class="row">
    <div class="col-sm-12 col-lg-4" *ngFor="let producto of productos">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="{{producto.acf.imagen}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{producto.title.rendered}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a routerLink="{{producto.id}}" class="btn btn-primary">Ver más información</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>